body {
  text-align: center;
  background-color: #155263;
}

h1 {
  color: #ff9a3c;
  font-family: 'Sacramento', cursive;
  font-weight: 700;
  font-size: 64px;
  padding-top: 50px;
}

h2 {
  color: #ff9a3c;
  font-family: 'Sacramento', cursive;
  font-weight: 300;
  font-size: 36px;
  margin-top: 25px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffc93c;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #ff6f3c;
}

p {
  padding-top: 25px;
  padding-bottom: 25px;
}

a {
  color: #ffc93c;
}

a:hover {
  color: #ff6f3c;
}

ol {
  list-style-position: inside;
  list-style-type: upper-roman;
}

ul {
  list-style: none;
}

hr {
  width: 4%;
  border: dotted  #ff6f3c 6px;
  border-bottom: none;
  padding: 50px auto;
}

span {
  color: #ff6f3c;
}

p, ul, ol {
  color: #ff6f3c;
  font-family: 'Montserrat', sans-serif;
}

.profile-pic {
  border-radius: 50%;
  width: 10%;
  padding-bottom: 25px;
}

.top-container {
  background-color: #155263;
  padding-bottom: 25 px;
}

.top-container p {
  padding-top: 0;
}

.middle-container {
  background-color: #ff9a3c;
  color: #ffc93c;
 
  padding-top: 50px;
  padding-bottom: 50px;
}

.bottom-container {
  background-color: #ffc93c;
  padding-top: 25px;
}

.footer-link, .copyright {
  color: #155263;
}

.about-photo {
  border-radius: 50%;
  width: 5%;
}

.top-about {
  padding-bottom: 30px;
  margin: 0 150px 0 150px;
}

.bottom-about {
 padding-top: 50px;
  color: #ffc93c;
}

.bottom-about h1{
  color: #ffc93c;
}

.hobby-header{
  padding-bottom: 50px;
  color:  #ff9a3c;
}

.hobby-coloumn {
padding: 3% 2%;
}

.hobby-image {
  border-radius: 50%;
  height: 200px;
  width: 300px;
  margin-bottom: 25px;
}

.hobby-box h3 {
  color:  #ff9a3c;
}

.background-item {
width: 50%;
margin: 100px auto;
}

.background-imageA {
  float:left;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.background-imageB {
  float:right;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.background-info {
  color: #ffc93c;
}