body {
  text-align: center;
  background-color: #e4e3e3;
}

h1 {
  color: #204051;
  font-family: 'Sacramento', cursive;
  font-weight: 700;
  font-size: 64px;
  padding-top: 50px;
}

h2 {
  color: #204051;
  font-family: 'Sacramento', cursive;
  font-weight: 300;
  font-size: 36px;
  margin-top: 25px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #e4e3e3;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #84a9ac;
}

p {
  padding-top: 25px;
  padding-bottom: 25px;
}

.site-link:hover {
  color: #204051;
}

ol {
  list-style-position: inside;
  list-style-type: upper-roman;
}

ul {
  list-style: none;
}

hr {
  width: 4%;
  border: dotted #3b6978 6px;
  border-bottom: none;
  margin: 50px auto;
}

span {
  color: #204051;
}

p, ul, ol, a {
  color: #84a9ac;
  font-family: 'Montserrat', sans-serif;
}

.profile-pic {
  border-radius: 50%;
  width: 10%;
  padding-bottom: 25px;
}

.top-container {
  background-color: #e4e3e3;
  padding-bottom: 25 px;
}

.top-container p {
  padding-top: 0;
}

.middle-container {
  background-color: #3b6978;
  color: #e4e3e3;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bottom-container {
  background-color: #e4e3e3;
  padding-top: 25px;
}

.about-photo {
  border-radius: 50%;
  width: 5%;
}

.top-about {
  padding-bottom: 30px;
  margin: 0 150px 0 150px;
}

.bottom-about {
 padding-top: 50px;
  /* background-color: #204051; */
  color: #e4e3e3;
}

.bottom-about h1{
  color: #e4e3e3;
}

.hobby-header{
  padding-bottom: 50px;
  color: #204051;
}

.hobby-coloumn {
padding: 3% 2%;
}

.hobby-image {
  border-radius: 50%;
  height: 200px;
  width: 300px;
  margin-bottom: 25px;
}

.hobby-box h3 {
  color: #3b6978;
}

/* .card {
  background-color: #84a9ac;
}

.card-text {
  color: #e4e3e3;
}

.card-img {
  width: 100%;
  object-fit: cover;
} */

.background-item {
width: 50%;
margin: 100px auto;
}

.background-imageA {
  float:left;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.background-imageB {
  float:right;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.background-info {
  color: #204051;
}