body {
  text-align: center;
}

h1 {
  color: #204051;
  font-family: 'Sacramento', cursive;
  font-weight: 700;
}

h2 {
  color: #204051;
  font-family: 'Sacramento', cursive;
  font-weight: 300;
}

p, ul, a {
  color: #84a9ac;
  font-family: 'Montserrat', sans-serif;
}

.profile-pic {
  border-radius: 50%;
}

.top-container {
  background-color: #e4e3e3;
}

.middle-container {
  background-color: #3b6978;
  color: #e4e3e3;
}

.bottom-container {
  background-color: #e4e3e3;
}